.marketBody {
    font-family: 'Inter', sans-serif;
}
.marketSubBody{
    text-align: center;
    padding-top: 50px;
}
.marketSubBody h1 {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    color: #A7A642;
}
.marketBody h1:first-child {
    color: black;
}
.marketSubBody p {
    font-size: 16px;
    color: grey;
    margin-top: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.marketItemBody{
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    column-gap: 100px;
    row-gap: 75px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.marketItem {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px #5C841A;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    padding-bottom: 30px;
    cursor: pointer;
    transition: all 0.15s linear;
}
.marketItem:hover {
    transform: scale(1.05);
}
.marketItem img {
    max-height: 150px;
    border-radius: 10px;
}
.marketItem h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.marketItem p {
    margin-top: 0px;
    font-size: 18px;
}
.rating {
    display: flex;
}
.star {
    color: gold;
}