* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.loading {
  width: 200px;
  color: green;
  text-align: center;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  left: calc(50vw - 100px);
  top: 150px;
}
@keyframes loading {
  0% {transform: translateY(10px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(10px);}
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background:  green;
    height: 1px;
}